html,
body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.chakra-card {
    border-radius: 10px;
    border: 1px solid #C6F6D5;
}
.chakra-card__body {
    padding: 1.5rem;
}